<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>配置 - spready</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <style>
  body {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  </style>
  <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="css/style.css">

  <script src="js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <form class="form-horizontal" action='/update_configuration' method='post'>
          <fieldset>
            <div class="control-group">
              <label class="control-label">数据库类型</label>
              <div class="controls">
                <label class="radio">
                  <input type="radio" name="config[database_type]" value="mysql" checked="">
                  mysql
                </label>
                <label class="radio">
                  <input type="radio" name="config[database_type]" value="mongodb">
                  mongodb
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">数据库用户名和密码</label>
              <div class="controls docs-input-sizes">
                <input class="span3" type="text" placeholder="填入数据库用户名(如果有的话)" name="config[username]">
                <input class="span3" type="text" placeholder="填入数据库密码(如果有的话)" name="config[password]">
              </div>
            </div>            
            <div class="control-group">
              <label class="control-label">建立数据库</label>
              <div class="controls docs-input-sizes">
                <input class="span3" type="text" placeholder="数据库名称" name="config[database]">
              </div>
            </div>
            <div class="form-actions">
              <button type="submit" class="btn btn-primary">确定</button>
            </div>
          </fieldset>
        </form>
      </div>

      <hr>

      <footer>
        <p>&copy; Spready.info 2012</p>
      </footer>

    </div> <!-- /container -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>

<script src="js/libs/bootstrap/bootstrap.min.js"></script>

<script src="js/script.js"></script>
</body>
</html>
