<h1><%= @forum.name %></h1>
<div class="subnav">
  <ul class="nav nav-pills">
    <li class="dropdown active">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Category <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><%= link_to "List all categories", admin_forum_categories_path(@forum) %></li>
        <li><%= link_to "Add new category", new_admin_forum_category_path(@forum) %></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Topic <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#navs">List all topics</a></li>
        <li><a href="#navbar">Add new topic</a></li>
      </ul>
    </li>
    <li class=""><a href="#labels">Comments</a></li>
  </ul>
</div>